[package]
name = "leanr-elab"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
lean-agentic = { version = "0.3.0", path = "../lean-agentic" }
leanr-syntax = { path = "../leanr-syntax" }
